<!DOCTYPE html>
<html>
  <head>
    <title>WdiConfSurvey</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <%= image_tag("GA_logo.png") %>
        <div class="title">
        <h2>WDI Conference 2017 Survey</h2>
        
        </div>
      </div>
      <h4>Help Us To Serve You Better </h4>

      <%= yield %>
    </div>
  </body>
</html>
